<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about" class="active">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/project">Project</a></li>
        </ul>
    </nav>

    <header class="header">
        <h1>About Us</h1>
        <p>Pneumonia Detection Using Chest X-rays is a machine learning project focused on improving pneumonia diagnosis through automated analysis of chest X-ray images.

            Pneumonia is a serious lung infection that requires timely and accurate diagnosis. Our system uses deep learning, particularly Convolutional Neural Networks (CNNs), to detect signs of pneumonia in X-rays. The goal is to assist healthcare professionals with a fast, reliable, and accessible diagnostic tool—especially in resource-limited settings.
            
            This project reflects our commitment to combining technology and healthcare to create impactful solutions. It is designed to support doctors, not replace them, by enhancing diagnostic accuracy and efficiency.</p>
    </header>
   <strong><center><h1>Meet our Team</h1></center></strong>
    <section class="about-container">
        <div class="about-box">
            <h2>Akanksha</h2>
            <p>Email - swdvifjnvinvokm@gmail.com</p>
        </div>

        <div class="about-box">
            <h2>swapna</h2>
            <p>Email - koppartiswapnasri99@gmail.com</p>
        </div>

        <div class="about-box">
            <h2>nithya</h2>
            <ul>
               <li>Email - dhggewufhdhvuidbzuoch@gmail.com</li>
            </ul>
        </div>

        <div class="about-box">
            <h2> bhagya </h2>
            <ul>
                <li>Email - sdfghjkl@gmail.com</li>
            </ul>
        </div>


        <div class="about-box">
            <h2>Kanchana</h2>
            <p>Email - kanchanajonnada20@gmail.com</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Pneumonia Detection Project. All rights reserved.</p>
    </footer>
</body>
</html>
